---
jenkins_url: https://myjenkins.ourcorporate.com
job_search_fields: my-job-prefix-or-regex
filter_param_name: PUBLISH_TO_POLARION
filter_param_value: True
cause_action_class: timer
bz_url: https://bugzilla.ourcorporate.com
jira_url: https://jira.ourcorporate.com
# Use one of two options to authenticate to jira
# Using Personal Access Token is preferred, to use
# Basic Authentication uncomment jira_username and jira_password
#jira_username: user1
#jira_password: coolpassword
jira_token: personalaccesstoken
certificate: our_jira_cert.crt
smtp_host: smtp.ourcorporate.com
email_subject: Our CI status report
email_from: myemail@ourcorporate.com
email_to: send_report_to@ourcorporate.com
email_to_test: my_email_to_test@ourcorporate.com
supported_versions:
  - 13
  - 16.1
  - 16.2
stage_logs:
  'Install InfraRed':
    - '.sh/ir-install.log'
  'Cleanup':
    - '.sh/ir-virsh-cleanup.log'
  'Provision':
    - '.sh/ir-virsh-provision.log'
  'Undercloud':
    - '.sh/ir-tripleo-undercloud.log'
  'Introspect':
    - '.sh/ir-tripleo-overcloud-install-introspect.log'
  'Tagging':
    - '.sh/ir-tripleo-overcloud-install-tagging.log'
  'Overcloud':
    - '.sh/ir-tripleo-overcloud-install.log'
  'Run Tempest Tests':
    - 'tempest-results'
  'Undercloud FFU Upgrade':
    - '.sh/ir-tripleo-ffu-undercloud-rhel-upgrade.log'
    - '.sh/ir-tripleo-undercloud-rhel-upgrade.log'
    - '.sh/ir-tripleo-undercloud-ffu-upgrade.log'
