---
jenkins_url: https://myjenkins.ourcorporate.com
job_search_fields: my-job-prefix-or-regex
filter_param_name: PUBLISH_TO_POLARION
filter_param_value: True
bz_url: https://bugzilla.ourcorporate.com
jira_url: https://jira.ourcorporate.com
jira_username: user1
jira_password: coolpassword
certificate: our_jira_cert.crt
smtp_host: smtp.ourcorporate.com
email_subject: Our CI status report
email_from: myemail@ourcorporate.com
email_to: send_report_to@ourcorporate.com
email_to_test: my_email_to_test@ourcorporate.com
stage_logs:
    'Clone repo':
      - '.sh/clone_repo.log'
    'Build project':
      - '.sh/build_project.log'
    'Deploy':
      - '.sh/deploy_first.log'
      - '.sh/deploy_second.log'