{% macro blockers(row) %}
	<p style="text-align: center;"><b>Bugs</b></p>
	{% for bug in row.bugs %}
		<ul>
		{% if bug.bug_url != None %}
			<li><a href="{{bug.bug_url}}">{{bug.bug_name}}</a></li>
		{% else %}
			<li>{{bug.bug_name}}</li>
		{% endif %}
		</ul>
	{% endfor %}
	<hr>
	<p style="text-align: center;"><b>Tickets</b></p>
	{% for ticket in row.tickets %}
		<ul>
		{% if ticket.ticket_url != None %}
			<li><a href="{{ticket.ticket_url}}">{{ticket.ticket_name}}</a></li>
		{% else %}
			<li>{{ticket.ticket_name}}</li>
		{% endif %}
		</ul>
	{% endfor %}
	<hr>
	<p style="text-align: center;"><b>Other</b></p>
	{% for other in row.other %}
		<ul>
		{% if other.other_url != None %}
			<li><a href="{{other.other_url}}">{{other.other_name}}</a></li>
		{% else %}
			<li>{{other.other_name}}</li>
		{% endif %}
		</ul>
	{% endfor %}
{% endmacro %}
