{% macro blockers(row) %}
	{% if row.bugs|length > 0 %}
		<p style="text-align: center;"><b>Bugs</b></p>
		{% for bug in row.bugs %}
			<ul>
				<li>
				{% if bug.bug_url != None %}
					<a href="{{bug.bug_url}}">{{bug.bug_name}}</a>
				{% else %}
					{{bug.bug_name}}
				{% endif %}
				{{ build_numbers(row) }}
				</li>
			</ul>
		{% endfor %}
		{% if row.tickets|length > 0 or row.other|length > 0%}
			<hr />
		{% endif %}
	{% endif %}
	{% if row.tickets|length > 0 %}
		<p style="text-align: center;"><b>Tickets</b></p>
		{% for ticket in row.tickets %}
			<ul>
				<li>
				{% if ticket.ticket_url != None %}
					<a href="{{ticket.ticket_url}}">{{ticket.ticket_name}}</a>
				{% else %}
					{{ticket.ticket_name}}
				{% endif %}
				{{ build_numbers(row) }}
				</li>
			</ul>
		{% endfor %}
		{% if row.other|length > 0%}
			<hr />
		{% endif %}
	{% endif %}
	{% if row.other|length > 0 %}
		<p style="text-align: center;"><b>Other</b></p>
		{% for other in row.other %}
			<ul>
				<li>
				{% if other.other_url != None %}
					<a href="{{other.other_url}}">{{other.other_name}}</a>
				{% else %}
					{{other.other_name}}
				{% endif %}
				{{ build_numbers(row) }}
				</li>
			</ul>
		{% endfor %}
	{% endif %}
{% endmacro %}

{% macro build_numbers(row) %}
	{% if row.builds is defined and row.builds is not none %}
		: for build
		{% for build in row.builds %}
			<a href="{{row.job_url}}/{{ build }}">{{ build }}</a>
			{{ ", " if not loop.last }}
		{% endfor %}
	{% endif %}
{% endmacro %}

{% macro composes(row) %}
	{% if row.second_compose != None %}
		<p style="text-align: center;"><b>From</b></p>
			{{row.compose}}
		<hr />
		<p style="text-align: center;"><b>To</b></p>
			{{row.second_compose}}
	{% else %}
		{{row.compose}}
	{% endif %}
{% endmacro %}
